/* Basic variables */
:root {
  --center-els: 0 auto;
  --header-bg: red;
  --header-fg: white;
  --main-bg: antiquewhite;
}
/* Remove browser settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
}
header {
  background-color: var(--header-bg);
  color: var(--header-fg);
  margin-bottom: 25px;
}
nav li {
  display: inline-block;
}
nav a {
  padding: 20px;
  text-decoration: none;
  color: var(--header-fg);
}
main {
  margin: 0 15px 25px 15px;
}
main p {
  margin-bottom: 10px;
}
footer {
  background-color: var(--header-bg);
  color: var(--header-fg);
}
footer a {
  text-decoration: none;
  color: var(--header-fg);
}