/* Basic variables */
:root {
  --center-els: 0 auto;
  --header-bg: red;
  --header-fg: white;
  --main-bg: antiquewhite;
  --menu-bg: white;
  --menu-fg: black;
}
/* Remove browser settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
}
header {
  background-color: var(--header-bg);
  color: var(--header-fg);
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
header h1 {
  flex: 0 0 20%;
  text-align: center;
}
header nav {
  flex: 0 0 50%;
}
nav li {
  display: inline-block;
}
nav a {
  padding: 20px;
  text-decoration: none;
  color: var(--header-fg);
}
nav .dropdown: {
  padding: 20px;
}
nav .dropmenu {
  display: none;
}
nav .dropmenu:active {
  display: flex;
}
nav .dropdown:hover .dropmenu {
  display: flex;
}
.dropmenu {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 85%;
  background-color: var(--menu-bg);
}
.dropmenu ul:first-child {
  flex: 0 0 25%;
}
.dropmenu ul:nth-child(2) {
  flex: 0 0 25%;
}
.dropmenu .bg-img {
  flex: 0 0 50%;
  background-image: url();
}
.dropmenu li {
  display: block;
  padding: 2rem 0 2rem 0;
  list-style-type: none;
}
.dropmenu a {
  text-decoration: none;
  color: var(--menu-fg);
}
main {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 25px;
}
main p {
  margin-bottom: 10px;
}
footer {
  background-color: var(--header-bg);
  color: var(--header-fg);
  display: flex;
  justify-content: space-between;
}
footer .copyright {
  margin-left: 6ch;
}
footer .impressum {
  margin-right: 6ch;
}
footer a {
  text-decoration: none;
  color: var(--header-fg);
}