/* Basic variables */
:root {
  --center-els: 0 auto;
  --header-bg: red;
  --header-fg: white;
  --main-bg: antiquewhite;
  --menu-bg: white;
  --menu-fg: black;
}
/* Remove browser settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Some basic settings */
body {
  background-color: var(--main-bg);
}
header {
  background-color: var(--header-bg);
  color: var(--header-fg);
  margin-bottom: 25px;
}
header h1 {
  text-align: center;
}
main {
  margin: 0 auto;
  margin-bottom: 25px;
}
main p {
  margin-bottom: 10px;
  text-align: justify;
}
nav a {
  list-style-type: none;
  padding: 20px;
  text-decoration: none;
  color: var(--header-fg);
}
footer {
  background-color: var(--header-bg);
  color: var(--header-fg);
}
footer a {
  text-decoration: none;
  color: var(--header-fg);
}
/* Media queries */
/* First the desktop version */
@media screen and (min-width: 769px) {
  /* Header with horizontal navigation bar */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header h1 {
    flex: 0 0 12ch;
  }
  header nav {
    flex: 0 0 50ch;
  }
  header > nav > ul > li {
    display: inline-block;
  }
  nav a {
    list-style-type: none;
    padding: 20px;
    text-decoration: none;
    color: var(--header-fg);
  }
  /* Right behaviour of the dropdown menu */
  nav .dropmenu {
    display: none;
  }
  nav .dropmenu:active, nav .dropdown:hover .dropmenu {
    display: flex;
  }
/* Styling and positioning of the dropdown menu */
  .dropmenu {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 85%;
    background-color: var(--menu-bg);
  }
  .dropmenu ul {
    flex: 0 0 25%;
  }
  .dropmenu .bg-img {
    flex: 0 0 50%;
    background-image: url(../img/photo-1542295520-42801e81eba7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dropmenu li {
    display: block;
    padding: 2rem 0 2rem 0;
    list-style-type: none;
  }
  .dropmenu a {
    text-decoration: none;
    color: var(--menu-fg);
  }
  /* Width of the main content */
  main {
    width: 750px;
  }
  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .copyright {
    margin-left: 6ch;
  }
  footer .impressum {
    margin-right: 6ch;
  }
}
/* Tablet version */
@media screen and (max-width: 768px) and (min-width: 568px) {
  /* Header with items organized vertically */
  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
  }
  header h1 {
    flex: 0 0 1.4em;
  }
  header > nav {
    flex: 0 0 2.6em;
  }
  header > nav > ul > li {
    display: block;
  }
  /* Dropdown menu inside the header and without image */
  .dropmenu {
    background-color: var(--header-bg);
  }
  .dropmenu .bg-img {
    display: none;
  }
  /* A little indentation for the dropdown items */
  .dropmenu li {
    list-style-type: none;
    position: relative;
    left: 2ch;
  }
  /* Width of the main content */
  main {
    width: 550px;
  }
  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .copyright {
    margin-left: 6ch;
  }
  footer .impressum {
    margin-right: 6ch;
  }
}
/* Phone version */
@media screen and (max-width: 567px) {
  /* Header with items organized vertically */
  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
  }
  header h1 {
    flex: 0 0 1.4em;
  }
  header > nav {
    flex: 0 0 2.6em;
  }
  header > nav > ul > li {
    display: block;
  }
  /* Dropdown menu inside the header and without image */
  .dropmenu {
    background-color: var(--header-bg);
  }
  .dropmenu .bg-img {
    display: none;
  }
  /* A little indentation for the dropdown items */
  .dropmenu li {
    list-style-type: none;
    position: relative;
    left: 2ch;
  }
  /* Width of the main content */
  main {
    width: 90%;
  }
  /* Footer */
  footer {
    display: block;
  }
  .copyright, .impressum {
    margin: 0 auto;
    text-align: center;
  }
}